[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-login = "*"
flask-wtf = "*"
flask-limiter = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
psycopg2-binary = "*"
requests = "*"
sqlalchemy = "==1.3"
sqlalchemy-searchable = "*"

[dev-packages]

[requires]
python_version = "3.8"
