blinker==1.4
click==6.7
decorator==4.0.11
Flask==0.12.1
Flask-SQLAlchemy==2.2
Flask-WhooshAlchemyPlus==0.7.5
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
pbr==3.0.0
python-dotenv==0.6.4
six==1.10.0
SQLAlchemy==1.1.9
sqlalchemy-migrate==0.11.0
sqlparse==0.2.3
stevedore==1.21.0
Tempita==0.5.2
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
Werkzeug==0.12.1
Whoosh==2.7.4
