{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <h4>About this Project</h4>
    <p>SciBowlDB OCRs, analyzes, and categorizes DOE High School Science Bowl questions from several online sources to create a comprehensive, searchable database of {{ num_questions }} toss-up and bonus questions, more than any other single source on the Internet, all separated into question text and answer text, and categorized by format, subject, and source. All questions are from either the <a href='https://science.energy.gov/wdts/nsb/regional-competitions/resources/hs-sample-questions/'>official sample question sets</a>, the <a href="http://www.cs.csubak.edu/ScienceBowl/">California State University Bakersfield (CSUB) Regionals question set</a>, or the <a href="http://students.brown.edu/Brown_University_Science_Bowl/practice.html">1998 or 2005 Nationals question sets</a> as compiled by New England Science Bowl.</p>
    <p>You can use the "Play" tab to quiz yourself on random questions in a certain category, one at a time, or you can use it as a continuous source of questions for team tryouts or practices. "Browse" can be used to search for all questions meeting certain criteria for in-depth study of a certain subject, whether by yourself or as a team, and can also be used for timed, full-length practice rounds (Each page is one full 25-question round). If you see any formatting errors or incorrect answers on a question, don't be afraid to report the relevant question for review.</p>
    <p>The logo is a diagram of ethanol by Hamish from the Noun Project</p>
    <hr/>
    <h4>Using the SciBowlDB API</h4>
    <p>Currently, SciBowlDB has two API endpoints, at <code>{{ url_for('get_questions') }}</code> and at <code>{{ url_for('get_random_question') }}</code>.</p>
    <p>You can send a GET request to <code>{{ url_for('get_questions') }}</code> to get a JSON object containing a list of all the questions in the database. The object will have the following format:</p>
    <pre>
{
  "questions": [
    {
      "bonus_answer": "PHAGOCYTOSIS", 
      "bonus_format": "Short Answer", 
      "bonus_question": "What is the biological term most often used for the act of a cell engulfing a particle by extending its pseudopodia (read as: SU-doe-POH-dee-ah) around the particle?", 
      "category": "BIOLOGY", 
      "source": "Official-set1-round1", 
      "tossup_answer": "PHENOTYPE", 
      "tossup_format": "Short Answer", 
      "tossup_question": "What is the most common term used in genetics to describe the observable physical characteristics of an organism caused by the expression of a gene or set of genes?", 
      "uri": "http://cqcumbers.pythonanywhere.com/api/v1.0/questions/1"
    }
  ]
}</pre>
    <p>Sending a GET request to <code>{{ url_for('get_random_question') }}</code> will similarly return JSON object, containing one random question in the database.</p>
    <pre>
{
  "question": {
    "bonus_answer": "DUODENUM", 
    "bonus_format": "Short Answer", 
    "bonus_question": "What section of the small intestine is the first to receive gastric contents?", 
    "category": "BIOLOGY", 
    "source": "Official-set1-round6", 
    "tossup_answer": "X) DIGESTIVE", 
    "tossup_format": "Multiple Choice", 
    "tossup_question": "In which of the following organ systems of the human body do chief cells primarily function:\nW) excretory\nX) digestive\nY) nervous\nZ) reproductive", 
    "uri": "http://cqcumbers.pythonanywhere.com/api/v1.0/questions/335"
  }
}</pre>
    <p>To filter what categories or sources of questions can be returned, you can send a POST request to one of these endpoints. You can specify which categories of questions may be included by adding a list of categories to the JSON body of the POST request. Categories may be one or more of the following:</p>
    <pre>{"categories": ["PHYSICS", "GENERAL SCIENCE", "ENERGY", "EARTH AND SPACE", "EARTH SCIENCE",
        "CHEMISTRY", "BIOLOGY", "ASTRONOMY", "MATH", "COMPUTER SCIENCE"]}</pre>
    <p>You can also specify which sources of questions may be included by adding a list of sources to the JSON body of the POST request. The API will return all questions that begin with the name of the source listed. For example,
    <pre>curl -X POST -d '{"sources": ["Official", "CSUB"]}' "http://cqcumbers.pythonanywhere.com/api/v1.0/questions/"</pre>
    will return all questions whose source names begin with "Official" or "CSUB", including "Official-set1-round1", "CSUB-round4", and "Official-set4-round10". The same POST request body sent to the <code>{{ url_for('get_random_question') }}</code> endpoint would return a random question following the same restrictions. The top-level sources are:</p>
    <pre>{"sources": ["Official", "CSUB", "05Nats", "98Nats"]}</pre>
{% endblock %}
