<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>SciBowlDB | {% block title %}{% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="shortcut icon" href="/img/favicon.ico">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0-beta/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Ladda/1.0.6/ladda-themeless.min.css">

    <!-- MathJax -->
    <script type="text/x-mathjax-config">MathJax.Hub.Config({SVG: {linebreaks: {automatic: true}}});</script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=AM_SVG"></script>
  </head>
  <body style="display: flex; min-height: 100vh; flex-direction: column;">
    <nav class="navbar navbar-light bg-light navbar-expand-md fixed-top">
      <div class="container">
        <a class="navbar-brand text-primary" href="#top">
          <h4 class="my-0">
            <img class="mb-1" src="/img/logo.svg" width=24 height=24>
            <strong>SciBowl</strong>DB
          </h4>
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navLinks">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link {{ 'active' if self.title() in ['Tossup', 'Bonus'] }}" href="{{ url_for('tossup') }}">Play</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ 'active' if self.title() == 'Browse' }}" href="{{ url_for('browse') }}">Browse</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ 'active' if self.title() == 'Round' }}" href="{{ url_for('round') }}">Round</a>
            </li>
            <li class="nav-item"> 
              <a class="nav-link {{ 'active' if self.title() == 'About' }}" href="{{ url_for('about') }}">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main class="container mt-4 pt-5" id="top" style="flex: 1;">
      <div class="row flex-row-reverse">
        <div class="col-md-3 d-print-none">
          <button class="btn btn-light btn-block mb-3 d-md-none" type="button" data-toggle="collapse" data-target="#settings">Settings</button>
          <div class="mb-3 collapse d-md-block" id="settings">{% include "settings.html" %}</div>
        </div>

        <div class="col-md">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ message }}
            </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% include "report_modal.html" %}
        {% include "login_modal.html" %}

        {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    <footer class="footer bg-light d-print-none">
      <div class="container py-2">
      {% if current_user.is_authenticated %}
        <form class="d-inline" id="logout-form" action="{{ url_for('logout', next=request.endpoint)  }}" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <button type="submit" class="btn btn-link">Logout</button>
        </form>
      {% else %}
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#login_modal">Login</button>
      {% endif %}
        <button class="btn btn-light disabled float-right">Created by <a href="http://github.com/CQCumbers">CQCumbers</a></button>
      </div>
    </footer>

    <!-- jQuery, Popper, and Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <!-- Bootstrap-select JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0-beta/js/bootstrap-select.min.js"></script>
    <!-- Keyboard JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/keyboardjs/2.4.1/keyboard.js"></script>
    <!-- Ladda JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Ladda/1.0.6/ladda.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Ladda/1.0.6/spin.min.js"></script>
    <script>
    Ladda.bind('.ladda-button');

    $('#report_modal').on('show.bs.modal', function (e) {
        var button = $(e.relatedTarget);
        var question_id = button.data('id');
        var modal = $(this);
        modal.find('.modal-title').text('Report Question ' + question_id);
        modal.find('.modal-body input').attr('value', question_id);
    })
    </script>

    {% block scripts %}{% endblock %}
  </body>
</html>
