{% extends "base.html" %}
{% block title %}Bonus{% endblock %}
{% block content %}
<div class="well well-lg">
    <h4>Bonus | {{ question['category'] }} | {{ question['bonus_format'] }}</h4>
    <p class="lead">{{ question['bonus_question']|safe  }}</p>
    <div class="collapse" id="answerbox">
        <p class="lead"><strong>ANSWER:</strong> {{ question['bonus_answer'] }}</p>
        <button type="button" class="btn btn-link btn-xs"><a href="{{ question['uri'] }}"><small>PERMALINK</small></a></button>
        <button type="button" class="btn btn-link btn-xs" data-toggle="modal" data-target="#report_modal" data-id="{{ question['id'] }}"><small>REPORT</small></button>
    </div>
</div>

<div class="collapse in" id="showbuttonbox">
    <button class="btn btn-primary btn-lg btn-block" id="showbutton" type="button" data-toggle="collapse" data-target="#answerbox,#showbuttonbox,#nextbuttonbox">Show Answer</button>
</div>
<div class="collapse" id="nextbuttonbox">
    <a class="btn btn-primary btn-lg btn-block" id="nextbutton" href="{{ url_for('tossup') }}">Toss Up</a>
</div>
{% endblock %}

{% block scripts %}
<script>
Mousetrap.bind(['down', 'right', 'n', 'space', 'enter'], function() {
    if ($('#nextbuttonbox').is(':hidden')) {
        $('#showbutton').click();
    } else {
        $('#nextbutton')[0].click();
    }
});
</script>
<script>
$('#report_modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var question_id = button.data('id') // Extract info from data-* attributes
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    modal.find('.modal-title').text('Report Question ' + question_id)
    modal.find('.modal-body input').attr('value', question_id)
})
</script>
{% endblock %}
