{% extends "base.html" %}
{% block title %}Bonus{% endblock %}
{% block content %}
<div class="well well-lg">
    <h3>Bonus | {{ question['category'] }} | {{ question['bonus_format'] }}</h3>
    <p class="lead">{{ question['bonus_question']|safe  }}</p>
    <div class="collapse" id="answerbox">
        <p class="lead"><strong>ANSWER:</strong> {{ question['bonus_answer'] }}</p>
        <form action="{{ url_for('report', next=request.endpoint)  }}" method="post">
            <button type="button" class="btn btn-link btn-xs"><a href="{{ question['uri'] }}"><small>PERMALINK</small></a></button>
            <input type="hidden" name="uri" value="{{ question['uri'] }}">
            <button type="submit" class="btn btn-link btn-xs"><small>REPORT</small></button>
        </form>
    </div>
</div>

<div class="collapse in" id="showbuttonbox">
    <button class="btn btn-primary btn-lg btn-block" id="showbutton" type="button" data-toggle="collapse" data-target="#answerbox,#showbuttonbox,#nextbuttonbox">Show Answer</button>
</div>
<div class="collapse" id="nextbuttonbox">
    <a class="btn btn-primary btn-lg btn-block" id="nextbutton" href="{{ url_for('tossup') }}">Toss Up</a>
</div>
{% endblock %}

{% block scripts %}
<script>
Mousetrap.bind(['down', 'right', 'n', 'space', 'enter'], function() {
    if ($('#nextbuttonbox').is(':hidden')) {
        $('#showbutton').click();
    } else {
        $('#nextbutton')[0].click();
    }
});
</script>
{% endblock %}
