{% extends "base.html" %}
{% block title %}Browse{% endblock %}
{% block content %}

    <form action="{{ url_for('search') }}" method="post">
        <div class="form-group">
            <label class="sr-only" for="searchfield">Search</label>
            <div class="input-group">
                <input type="text" class="form-control" id="searchfield" placeholder="Search" name="search">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Go!</button>
                </span>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-xs-8">
            <p>{{ (pagination.page-1)*pagination.per_page + 1 }} to {{ (pagination.page * pagination.per_page) if pagination.page * pagination.per_page < pagination.total else pagination.total }} of {{ pagination.total }} results.</p>
        </div>
        <div class="col-xs-4">
            <p class="text-right">
                {% if pagination.pages > 1 %}
                    <a class="btn btn-link btn-xs" href="{{ url_for('browse', page=(range(1,pagination.pages+1)|random)) }}">Random Page</a>
                {% endif %}
            </p>
        </div>
    </div>

    {% for question in questions %}
        <a class="question-anchor"></a>
        <div class="well well-md">
            <h5>Toss Up | {{ question['category'] }} | {{ question['tossup_format'] }}</h5>
            <p>{{ question['tossup_question']|safe }}</p>
            <p><strong>ANSWER:</strong> {{ question['tossup_answer'] }}</p>
            <hr/>
            <h5>Bonus | {{ question['category'] }} | {{ question['bonus_format'] }}</h5>
            <p>{{ question['bonus_question']|safe  }}</p>
            <p><strong>ANSWER:</strong> {{ question['bonus_answer'] }}</p>
            <form action="{{ url_for('report', next=request.endpoint)  }}" method="post">
                <button type="button" class="btn btn-link btn-xs"><a href="{{ question['uri'] }}"><small>PERMALINK</small></a></button>
                <input type="hidden" name="uri" value="{{ question['uri'] }}">
                <button type="submit" class="btn btn-link btn-xs"><small>REPORT</small></button>
            </form>
        </div>
    {% endfor %}

    <nav class="text-center">
        <ul class="pagination">
            {% if pagination.has_prev %}
                <li><a href="{{ url_for('browse', page=pagination.prev_num) }}">Previous</a></li>
            {% else %}
                <li class="disabled"><span>Previous</span></li>
            {% endif %}
            {%for page in pagination.iter_pages() %}
                {% if page %}
                    {% if page != pagination.page %}
                        <li><a href="{{ url_for('browse', page=page) }}">{{ page }}</a></li>
                    {% else %}
                        <li class="active"><span>{{ page }}</span></li>
                    {% endif %}
                {% else %}
                    <li class="disabled"><span class=ellipsis>…</span></li>
                {% endif %}
            {% endfor %}
            {% if pagination.has_next %}
                <li><a href="{{ url_for('browse', page=pagination.next_num) }}">Next</a></li>
            {% else %}
                <li class="disabled"><span>Next</span></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block scripts %}
<script>
var index = -1;
Mousetrap.bind(['down', 'right', 'n', 'space', 'enter'], function(e) {
    e.preventDefault();
    index++;
    $("html, body").animate({ scrollTop : $('.question-anchor').eq(index).position().top })
});
Mousetrap.bind(['up', 'left', 'p'], function(e) {
    e.preventDefault();
    index--;
    if(index < 0) { index = 0;}
    $("html, body").animate({ scrollTop : $('.question-anchor').eq(index).position().top })
});
</script>
{% endblock %}
