{% extends "base.html" %}

{% block title %}Browse{% endblock %}

{% block content %}
  <form action="{{ url_for('search') }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="form-group">
      <label class="sr-only" for="searchfield">Search</label>
      <div class="input-group">
        <input type="text" class="form-control" id="searchfield" placeholder="Search" {% if settings.search %} value="{{ settings.search }}" {% endif %} name="search">
        <span class="input-group-append">
          <button class="btn btn-primary px-3" type="submit">Go!</button>
        </span>
      </div>
    </div>
  </form>

  <span>
  {{ (pagination.page - 1) * pagination.per_page + 1 }} to {{
      (pagination.page * pagination.per_page) if pagination.page * pagination.per_page < pagination.total else pagination.total
  }} of {{ pagination.total }} results.
  </span>
  {% if pagination.pages > 1 %}
  <span class="float-right">
    <a href="{{ url_for('browse', page=(range(1, pagination.pages + 1) | random)) }}">Random Page</a>
  </span>
  {% endif %}

  {% for question in questions %}
  <a class="question-anchor"></a>
  <div class="card my-3">
    <div class="card-body">
      <h5>Toss Up - {{ question['category'].title() }} - {{ question['tossup_format'] }}</h5>
      <p>{{ question['tossup_question']|safe }}</p>
      <span><strong>ANSWER:</strong> {{ question['tossup_answer'] }}</span>
      <hr/>
      <h5>Bonus - {{ question['category'].title() }} - {{ question['bonus_format'] }}</h5>
      <p>{{ question['bonus_question']|safe  }}</p>
      <span><strong>ANSWER:</strong> {{ question['bonus_answer'] }}</span>
    </div>

    <div class="card-footer text-muted p-0">
      <button type="button" class="btn btn-link">
        <a href="{{ question['uri'] }}"><small>Permalink</small></a>
      </button>
      {% if current_user.is_authenticated %}
      <button type="button" class="btn btn-link" data-toggle="modal" data-target="#edit_modal" data-id="{{ question['id'] }}">
        <small>Edit</small>
      </button>
      {% endif %}
      <span class="btn disabled float-right">
        <small>{{ question['source'] }}</small>
      </span>
    </div>
  </div>
  {% endfor %}

  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item {{ 'disabled' if not pagination.has_prev }}">
        <a class="page-link" href="{{ url_for('browse', page=pagination.prev_num) }}">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>

      {% for page in pagination.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page %}
        <li class="page-item {{ 'active' if page == pagination.page }}">
          <a class="page-link" href="{{ url_for('browse', page=page) }}">{{ page }}</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link ellipsis">…</a>
        </li>
        {% endif %}
      {% endfor %}

      <li class="page-item {{ 'disabled' if not pagination.has_next }}">
        <a class="page-link" href="{{ url_for('browse', page=pagination.next_num) }}">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
{% endblock %}

{% block scripts %}
<script>
var index = 0;
keyboardJS.bind(['down', 'right', 'n', 'space', 'enter'], function(e) {
    if (!$('input').is(':focus')) {
        e.preventDefault();
        index++;
        $('html, body').animate({ scrollTop: $('.question-anchor').eq(index).offset().top - 70 });
    }
});

keyboardJS.bind(['up', 'left', 'p'], function(e) {
    if (!$('input').is(':focus')) {
        e.preventDefault();
        index--;
        if(index < 0) { index = 0;}
        $('html, body').animate({ scrollTop: $('.question-anchor').eq(index).offset().top - 70 });
    }
});
</script>
{% endblock %}
