<div class="modal fade" id="report_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="report_form" action="{{ url_for('report', next_url=request.endpoint)  }}" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="report_modal_label">Report Question</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <input type="hidden" name="id" id="report_id">

          <label for="report-text" class="form-control-label">What needs to be fixed?</label>
          <textarea name = "message" class="form-control" id="report-text" rows="5" placeholder="The category is incorrect"></textarea>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary ladda-button" data-style="expand-right">
            <span class="ladda-label">Send Report</span><span class="ladda-spinner"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
