{% extends "base.html" %}

{% block title %}Round{% endblock %}

{% block content %}
  <span class="h4">Random Round</span>
  <span class="float-right d-print-none">
    <a class="btn btn-link" href="javascript:window.print()">Print Round</a>
  </span>

  {% for question in questions %}
  <a class="question-anchor"></a>
  <div class="card my-3">
    <div class="card-body">
      <h5>{{ loop.index }}) Toss Up - {{ question['category'].title() }} - {{ question['tossup_format'] }}</h5>
      <p>{{ question['tossup_question']|safe }}</p>
      <span><strong>ANSWER:</strong> {{ question['tossup_answer'] }}</span>
      <hr/>
      <h5>{{ loop.index }}) Bonus - {{ question['category'].title() }} - {{ question['bonus_format'] }}</h5>
      <p>{{ question['bonus_question']|safe  }}</p>
      <span><strong>ANSWER:</strong> {{ question['bonus_answer'] }}</span>
    </div>

    <div class="card-footer text-muted p-0 d-print-none">
      <button type="button" class="btn btn-link">
        <a href="{{ question['uri'] }}"><small>Permalink</small></a>
      </button>
      <button type="button" class="btn btn-link" data-toggle="modal" data-target="#report_modal" data-id="{{ question['id'] }}">
        <small>Report</small>
      </button>
      {% if current_user.is_authenticated %}
      <button type="button" class="btn btn-link" data-toggle="modal" data-target="#edit_modal" data-id="{{ question['id'] }}">
        <small>Edit</small>
      </button>
      {% endif %}
      <span class="btn disabled float-right">
        <small>{{ question['source'] }}</small>
      </span>
    </div>
  </div>
  {% endfor %}
{% endblock %}

{% block scripts %}
<script>
var index = 0;
keyboardJS.bind(['down', 'right', 'n', 'space', 'enter'], function(e) {
    if (!$('input').is(':focus')) {
        e.preventDefault();
        index++;
        $('html, body').animate({ scrollTop: $('.question-anchor').eq(index).offset().top - 70 });
    }
});

keyboardJS.bind(['up', 'left', 'p'], function(e) {
    if (!$('input').is(':focus')) {
        e.preventDefault();
        index--;
        if(index < 0) { index = 0;}
        $('html, body').animate({ scrollTop: $('.question-anchor').eq(index).offset().top - 70 });
    }
});
</script>
{% endblock %}

