{% extends "base.html" %}
{% block title %}Tossup{% endblock %}
{% block content %}
<div class="well well-lg">
    <h3>Toss Up | {{ question['category'] }} | {{ question['tossup_format'] }}</h3>
    <p class="lead">{{ question['tossup_question']|safe }}</p>
    <hr/>
    <p class="lead">ANSWER: {{ question['tossup_answer'] }}</p>
    <a href="{{ question['uri'] }}"><small>PERMALINK</small></a>
</div>
<a class="btn btn-primary btn-lg btn-block" href="{{ url_for('bonus') }}">Bonus</a>
{% endblock %}
