{% extends "base.html" %}

{% block title %}Tossup{% endblock %}

{% block content %}
<div class="card mb-3">
  <div class="card-body">
    <h4>Toss Up - {{ question['category'].title() }} - {{ question['tossup_format'] }}</h4>
    <p class="lead mb-0">{{ question['tossup_question']|safe }}</p>
  </div>

  <div class="collapse toggled">
    <div class="card-body lead pt-0">
      <strong>ANSWER:</strong> {{ question['tossup_answer'] }}
    </div>
    
    <div class="card-footer text-muted p-0 d-print-none">
      <button type="button" class="btn btn-link">
        <a href="{{ question['uri'] }}"><small>Permalink</small></a>
      </button>
      <button type="button" class="btn btn-link" data-toggle="modal" data-target="#report_modal" data-id="{{ question['id'] }}">
        <small>Report</small>
      </button>
      {% if current_user.is_authenticated %}
      <button type="button" class="btn btn-link" data-toggle="modal" data-target="#edit_modal" data-id="{{ question['id'] }}">
        <small>Edit</small>
      </button>
      {% endif %}
      <span class="btn disabled float-right">
        <small>{{ question['source'] }}</small>
      </span>
    </div>
  </div>
</div>

<div class="collapse show toggled">
  <button id="showButton" class="btn btn-primary btn-lg btn-block mb-3" type="button" data-toggle="collapse" data-target=".toggled">Answer</button>
</div>
<div class="collapse toggled">
  <a id="nextButton" class="btn btn-primary btn-lg btn-block mb-3" href="{{ url_for('bonus', question_id=question['id']) }}">Bonus</a>
</div>
{% endblock %}

{% block scripts %}
<script>
keyboardJS.bind(['down', 'right', 'n', 'space', 'enter'], function() {
    if (!$('textarea').is(':focus')) {
        if ($('#nextButton').is(':hidden')) {
            $('#showButton').click();
        } else {
            window.location.href = $('#nextButton').attr('href');
        }
    }
});
</script>
{% endblock %}
